
body {
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    background-color: #eeeeee;
}

h1 {
    color: #000000;
    text-align: center;
}

p {
    color: #000000;
}

input[type=submit], input[type=button] {
    color: green;
    display: block;
    font-size: large;
    margin: 0.5em 0;
}