<html>
    <head>
        <meta charset="utf8" />
        <meta name="viewport" content="width=450, inital-scale=1" />
        <title>Remote Player</title>
        <base href=".\" />
        <link rel="stylesheet" type="text/css" href="..\static\css\styles.css">
    </head>
    <body>
        <h1>Remote Player</h1>
        <h3>Current URL: {{ url }}</h3>
        <h3>Current title: {{ title }}</h3>
        <form action="/" method="POST">
            <label for="url">URL: </label>
            <input type="text" name="url" id="url" size="30" /><br /><br />
            <input type="submit" value="Submit" /><br /><br />
            <input type="submit" name="next" value="Next" /><br />
        </form>
        <h3>Up next: {{ upnext }}</h3>
        
    </body>
</html>
