<html>
    <head>
        <meta charset="utf8" />
        <title>websiteCreation - template</title>
        <base href=".\" />
        <link rel="stylesheet" type="text/css" href="..\static\css\styling.css">
    </head>
    <body>
        <br />
        <div id="navigation">
            <a href="home.html">Home</a>&nbsp;
            <a href="blogs.html">Blogs</a>&nbsp;
            <a href="about.html">About</a>&nbsp;
        </div>
        <h1>{{ templatename }}</h1>
        <p>Template Paragraph</p>
    </body>
</html>
